

*{
	font-color: lemonchiffon;
	font-family: 'Merriweather', serif;

}

#h1{
	margin: 10px;
	width: 400px;
	height: 100px;
	background-color: lightgrey;
	float: left;
	font-size: 36px;
	text-align: center;
}

.nav{
	margin:10px;
	float: right;
	width: 250px;
	padding:20px;
	border-style: solid;
	font-color: #777777;
	background-color: lightgrey;
}

#link1{
	float: left;
	padding-right: 20px;
}
#link2{
	float: left;
	padding-right: 20px
}
#link3{
	float: left;
	
}

.content{
	margin:10px;
	align-self: left
	border-color: grey;
	padding: 10px;
	background-color: #ffffff;
	border-style: double;
	float: left;
	position: relative;
	left: 10px;
	width:700px;
	font-color: #777777;
}

#bioimage{
	float: left;
	margin: 10px;
}
#p1{
	float: left;
	width: 500px
	text-align: justify;
	background-color: grey;
}
#p2{
	float: left;
	width: 40%;
	text-align: justify;
}


.connect{
border: solid;
background-color: grey;
width: 230px;
height: 120px;
margin: 20px;
float: right;
text-align: center;

position: relative;
}

#clearfix{
    overflow: auto;
}

#footer{
	float: left;
	margin:20px;
	width: 960px;
	text-align: center;
}
.container{
	width: 1024px;
 
}

#header{
	margin: 10px;
	width: 400px;
	height: 100px;
	background-color: lightgrey;
	float: left;
	font-size: 36px;
	text-align: center;

}

#portimg1{
	float: left;
	margin: 20px;
	padding: 20px;
}

#content2{
	margin:10px;
	align-self: left
	border-color: #dddddd;
	padding: 10px;
	background-color: #ffffff;
	border-style: solid;
	float: left;
	position: relative;
	left: 10px;
	width:600px;
	height:800px;
	font-color: #777777;


}

#portimg2{
	float: left;
	margin: 10px;
}

#portimg3{
	float: left;
	margin: 10px;
}

#portimg4{
	float: left;
	margin: 10px;
}